* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 20, 20);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 34px;
  color: antiquewhite;
  text-shadow: 1.5px -1.5px #fff;
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 4px 20px;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(28, 23, 23);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}
.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock .hour {
  position: absolute;
  top: 20%;
  right: 48.5%;
  width: 8px;
  height: 90px;
  background-color: red;
  border-radius: 5px 5px 0px 0px;
  transform: rotate(90deg);
  transform-origin: bottom;
}
.clock .minute {
  position: absolute;
  top: 10%;
  right: 49%;
  width: 5px;
  height: 120px;
  background-color: rgb(243, 241, 241);
  border-radius: 7px 7px 0px 0px;
  transform: rotate(90deg);
  transform-origin: bottom;
}
.clock .secund {
  position: absolute;
  top: 3.3%;
  right: 49.5%;
  width: 3px;
  height: 140px;
  background-color: rgb(254, 249, 249);
  border-radius: 5px 5px 0px 0px;
  transform: rotate(90deg);
  transform: rotate(270deg);
  transform-origin: bottom;
}
.clock .son {
  font-size: 34px;
  text-shadow: -2px -2px 2px blue;
  color: #fff;
}
.clock #bir {
  transform: rotate(330deg);
}
.clock #ikki {
  transform: rotate(300deg);
}
.clock #uch {
  transform: rotate(270deg);
}
.clock #tort {
  transform: rotate(240deg);
}
.clock #besh {
  transform: rotate(210deg);
}
.clock #olti {
  transform: rotate(180deg);
}
.clock #yetti {
  transform: rotate(150deg);
}
.clock #sakkiz {
  transform: rotate(120deg);
}
.clock #toqqiz {
  transform: rotate(90deg);
}
.clock #on {
  transform: rotate(60deg);
}
.clock #onbir {
  transform: rotate(30deg);
}
.clock #onikki {
  transform: rotate(0deg);
}
.clock .number {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  color: white;
}
.clock .number1 {
  transform: rotate(30deg);
}
.clock .number2 {
  transform: rotate(60deg);
}
.clock .number3 {
  transform: rotate(90deg);
}
.clock .number4 {
  transform: rotate(120deg);
}
.clock .number5 {
  transform: rotate(150deg);
}
.clock .number6 {
  transform: rotate(180deg);
}
.clock .number6 span {
  transform: rotate(45deg);
}
.clock .number7 {
  transform: rotate(210deg);
}
.clock .number8 {
  transform: rotate(240deg);
}
.clock .number9 {
  transform: rotate(270deg);
}
.clock .number10 {
  transform: rotate(300deg);
}
.clock .number11 {
  transform: rotate(330deg);
}
.clock .number12 {
  transform: rotate(0deg);
}/*# sourceMappingURL=main.css.map */